.home {
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(238, 238, 238);
}

#home__image {
    max-width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    margin-bottom: -17%;
}